html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.background {
  z-index: -1;
}




.menu {
  border: solid red;
  position: absolute;
  top: 200px;
  height: 500px;
  width:700px
}

.menubt {
  position: absolute;
  top: 210px;
  left: 200px;
  }
  
  .menubt2 {
  position: absolute;
  top: 210px;
  left: 325px;
  }
  
  .menubt3 {
  position: absolute;
  top: 210px;
  left: 375px;
  }
  
  .menubt4 {
  position: absolute;
  top: 210px;
  left: 425px;
  }
  
  .menubt5 {
  position: absolute;
  top: 210px;
  left: 475px;
  }
  
  .menubt6 {
  position: absolute;
  top: 210px;
  left: 525px;
  }

