
html {
   height: 100%;
   width: 100%;
 }
 
 body {
   height: 100%;
   margin: 0%;
 }
 
 .background {
   position: absolute;
   z-index: 1;
 }
 
 .bgtitle {
   font-size: 50px;
   text-align: center;
   margin-top: 50px;
 }
 
 .textbox1 {
   border: solid red 5px;
   position: absolute;
   top: 410px;
   left: 180px;
   width: 360px;
   height: 200px;
   padding: 10px;
 }
 
  img {
  height: 100%;
  width: 100%;
  }
 
 .menu {
   border: solid #542915;
   position: absolute;
   top: 200px;
   height: 5000px;
   width: 1500px;
 }
 
 .imgmenubt1 {
   position: absolute;
   top: 210px;
   left: 400px;
   cursor: pointer;
   color: #007d3a;
   }
   
   .imgmenubt2 {
   position: absolute;
   top: 210px;
   left: 625px;
   cursor: pointer;
   color: #007d3a;
   }
   
   .imgmenubt3 {
   position: absolute;
   top: 210px;
   left: 675px;
   cursor: pointer;
   color: #007d3a;
   }
   
   .imgmenubt4 {
   position: absolute;
   top: 210px;
   left: 725px;
   cursor: pointer;
   color: #007d3a;
   }
   
   .imgmenubt5 {
   position: absolute;
   top: 210px;
   left: 775px;
   cursor: pointer;
   color: #007d3a;
   }
   
   .imgmenubt6 {
   position: absolute;
   top: 210px;
   left: 825px;
   cursor: pointer;
   color: #007d3a;
   }
 
 
 
 .tab1{
   
 }
 
 
   
   
   
   
   
  .tab2{
     border: solid red 5px;
    height: 455px;
     width: 610px;
     position: absolute;
     top: 240px;
     background-color: white;
   } 
   
   
   .tab3{
     border: solid lime 5px;
     height: 455px;
     width: 610px;
     position: absolute;
     top: 240px;
     background-color: white;
   } 
   
   .tab4{
     border: solid pink 5px;
     height: 455px;
     width: 610px;
     position: absolute;
     top: 240px;
     background-color: white;
   } 
   
   .tab5{
     border: solid yellow 5px;
     height: 455px;
     width: 610px;
     position: absolute;
     top: 240px;
     background-color: white;
   } 
   
   .tab6{
     border: solid orange 5px;
     height: 455px;
     width: 610px;
     position: absolute;
     top: 240px;
     background-color: white;
   } 
   
   
   .photo1 {
     height: 110px;
     border: solid green 10px;
     width: 110px;
     position: absolute;
     top: 280px;
     left: 30px
   }
   
   
  
  
   
   
.showit {
  display:block;
}

.hideit {
  display: none;
}
